*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

body{
    height: 100vh;
}


.background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #b7d8d3, #f2c7c7, #f4e1b6);
}


.window{
    width: 850px;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.window-header{
    background: #e5e5e5;
    padding: 10px 15px;
}

.dots{
    display: flex;
    gap: 8px;
}

.dots{
    display: flex;
    gap: 8px;
}

.dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.red{background: #ff605c;}
.yellow{background: #ffbd44;}
.green{background: #00ca4e;}


.content{
    padding: 40px;
    text-align: center;
}

.content h1{
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 35px;
}


.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.product{
    text-align: center;
}

.image-box{
    background: #e9e9e9;
    padding: 25px;
    margin-bottom: 10px;
}

.image-box img {
    max-width: 100%;
    height: 120px;
    object-fit: contain;
}


.view-btn{
    background: #c9bdb2;
    border: none;
    padding: 6px 18px;
    font-size: 12px;
    margin-bottom: 8px;
    cursor: pointer;
    letter-spacing: 1px;
}

.view-btn:hover{
    background: #b5a89d;
}


.price{
    font-size: 14px;
    font-weight: bold;
}
/*portrait image box*/
.image-box{
    width: 250px;
    height: 350px;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}